body{
	width: 1000px; 
	margin: auto; 
	background-image: url("../images/background.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1000px 550px; 
	background-position: center top; 
}


.logo{
	width: 25%; 
	margin-top: 30px; 
	margin-left: 30px;
	float: left;
	float: top;
	}

ul{
	list-style-type: none;
	display: inline;
	}

li{ 
	float:left;
	text-transform: uppercase;
	color: white; 
	margin: 10px;
	font-family: verdana, sans-serif;
	font-size: 15px; 
	position: relative;
	top: 56px; 
	left: 120px; 
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
a:link{
	color: white; 
	text-decoration: none; 
}
a:hover{
	color: #e27866;
	cursor: pointer; 
}

a:visited{
	color: white;
}

.maintext{
	text-align: center; 
	color: white; 
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	height: 160px; 
}	

h1{
	padding-top: 100px; 
}





.right{
	padding:0px;
	float: left; 
	margin-right: 0px;
}

.clear{
	clear: both;
}

.textbox100{
	text-align: center; 
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	padding: 20px 0px 20px 0px; 
}

.empty-space{
	height: 210px; 
	width: 1000px; 
}
	




footer{ 
	border-top: 2px solid #e3e3e5;
	font-family: Arial, Verdana, serif; 
	font-size: 10px; 
	text-align: center; 
	height: 100px; 
	padding-top: 25px; 
	background-color: #ffffff;
	margin-top: 40px; 
}

.footParagraph{
	padding-top: 80px; 
	display: inline;
	text-align: center; 
	}
	


	